{% extends "layouts/base.html" %}

{% block title %} Tự động hóa {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/automation.css') }}">

{% endblock %}

{% block content %}
<div class="pcoded-main-container">
  <div class="pcoded-content">
    <div class="container">

      <h1>IoT Gateway</h1>

      <table id="ruleTable">
        <thead>
          <tr>
            <th>Tên Luật</th>
            <th>Cảm Biến</th>
            <th>Ngưỡng</th>
            <th>Hành Động</th>
            <th>Trạng Thái</th>
       
            <th>Xóa</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" value="Quạt nhiệt độ cao"></td>
            <td>
              <select>
                <option value="Nhiệt độ">Nhiệt độ</option>
                <option value="Độ ẩm đất">Độ ẩm đất</option>
                <option value="Ánh sáng">Ánh sáng</option>
                
              </select>
            </td>
            <td><input type="text" value="30 đến 40"></td>
            <td><input type="text" value="Bật quạt"></td>
            <td><label class="switch"><input type="checkbox"><span class="slider"></span></label></td>
              <!-- <td><label class="switch"><input type="checkbox" checked><span class="slider"></span></label></td> -->
            <td><button class="delete-btn" onclick="deleteRow(this)">X</button></td>
          </tr>
        </tbody>
      </table>

      <button class="add-btn" onclick="addCondition()">Thêm điều kiện +</button>
      <button class="save-btn" onclick="saveRules()">Lưu</button>

    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='assets/js/automation.js') }}"></script>
{% endblock %}

